h1 { 
    
    background-color: rgb(57, 204, 204);
  } 
 
  .container {
    
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 600px) {
    nav {
      background-color: rgb(57, 204, 204);

    }
    
  }
  .btn{
    font-size: .25in;
    border-color: rgb(57, 204, 204);
    background-color: rgb(57, 204, 204);
    width:2in;
  }

  h2 {
    color: rgb(57, 204, 204);
  }
  h3 {
    color: rgb(57, 204, 204);
  }
  
  